.title {
  color: gold; 
}

.gallery-item {
  box-shadow: -25px 30px 1px #753188;
  padding: 5px;
  transition: box-shadow 2s, padding 1.7s;
  transition-timing-function: ease;
}
.gallery-item:hover {
  box-shadow: 25px 10px 1px #753188;
  padding: 0px;
}



/* class by item with hover */